*{
   padding: 0;
   border: 0;
   margin: 0;

}
table {
   margin: 0px 60px;
   border-collapse: collapse;
   border: 1px solid black;
   width: 90%;
   color: gray;
   font-size: 18px;
   text-align: center;
   }
   
   table,
   th,
   td {
   border-collapse: collapse;
   border: 1px solid black;
   }
   
   th {
   background-color: gray;
   color: white;
   }
   
   tr:nth-child(even) {
   background-color: #ededed;
   }

.headers{

   margin-left:50%;
}
.btn{
   background: #fff;
   color: darkred;
   font-size: 1.2em;
   padding: 5px 30px;
   text-decoration: none;


}
.btn:hover{

   background: darkred;
   color: #fff;
}